@import '../App/variables';

.portfolio-page {
  .section {
    &.portfolio {
      padding: 10rem 0 25rem;

      @media #{$xs} {
        padding: 10rem 0 15rem;
      }

      .portfolio-item {
        .portfolio {
          .thumbnail {
            img {
              max-height: 48rem;
            }
          }
        }
      }
    }
  }
}
