@import '../../containers/App/variables';

.social-share-inner {
  ul.social-share {
    @include justify_content(flex-start);
    margin: -0.6rem;
    padding: 0;

    li {
      margin: 0.6rem;

      a {
        border: 0 none;
        @include border-radius(100%);
        color: $text-color;
        @include flexbox(flex);
        font-size: $font-size;
        line-height: inherit;
        text-align: center;
        @include transition(all .3s cubic-bezier(.645, .045, .355, 1));
      }

      &:hover {
        a {
          background: transparent;
          border-color: $red-color;
          @include box-shadow(none);
          color: $red-color;
          @include translate(0, -0.3rem);
        }
      }
    }
  }
}

footer {
  .social-share-inner {
    ul.social-share {
      margin-top: 2rem;

      @media #{$xs} {
        justify-content: center !important;
      }
    }
  }
}
