@keyframes move {
  25% {
    opacity: 1;

  }

  33% {
    opacity: 1;
    transform: translateY(30px);
  }

  67% {
    opacity: 1;
    transform: translateY(40px);
  }
  
  100% {
    opacity: 0;
    transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
  }
}

@-webkit-keyframes yarl__delayed_fadein {
  0% {
    opacity: 0;
  }

  80% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes yarl__delayed_fadein {
  0% {
    opacity: 0;
  }

  80% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes yarl__stroke_opacity {
  from {
    stroke-opacity: 1;
  }

  to {
    stroke-opacity: 0.125;
  }
}

@keyframes yarl__stroke_opacity {
  from {
    stroke-opacity: 1;
  }

  to {
    stroke-opacity: 0.125;
  }
}
